
.main{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background-color:black;
  color: white;
  opacity: 0.5;
  height: 60vh;
  width: 50vw;
  border-radius: 1em;
  margin:100px auto;
  padding: 20px;
  /* justify-content: space-around; */
  gap: 100px;
}
.search-bar{
  background-color: black;
}

.search-bar input{
  width: 30vw;
  height: 5vh;
  border-radius: 2em;
  font-size: 20px;
  padding: 10px;

}

.effect-1{
  border-radius: 50% 48%;
  opacity: 0.5;
  background-color: white;
  animation: ease-out infinite;
}




@media only screen and (max-width: 768px){
  .main{
    height: 60vh;
    width: 73vw;
  }
  .search-bar input{
    width: 50vw;
    height: 4vh;
  }


}
@keyframes ani {
  0%   {top:0px;left:0px;}
  25%  {top:0px;left:100px;}
  50%  {left:0px; top:0px;}
  75%  {right:100px;top:0px}
  100% {right:0px;top:0px;}
}

.icon FaStreetView {
  animation-name: ani;
  animation-duration: 4ms;
  animation-iteration-count: infinite;
}


.icon{
  font-size: 70px;
  
  display: flex;
  align-items: center;
}

.icon h1{
  font-size: 40px;
  text-transform: capitalize;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 30px;

}



  
